@model WorkFromHomeEmailGenerator.Models.DaysModel
		@{ 
			var now = DateTime.Now;
		}
<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<style>
		.mid-title {
			font-weight: bold;
		}
	</style>
</head>

<body class="container">
	<h1>My working hours and tasks for @now.ToString("MMMM") @now.Year</h1>
	SA,
	This is the detail of my working hours for @now.ToString("MMMM") @now.Year

	@foreach (var day in Model.Days)
	{
		<h4>@day.Date.DayOfWeek @day.Date.Day @day.Date.ToString("MMMM")</h4>
		<div class="mid-title">hours:</div>
		<ul>
			@foreach (var range in day.Hours)
			{
				<li>@range.Start.ToShortTimeString() => @range.End.ToShortTimeString()</li>
			}
		</ul>
		<div class="mid-title">work:</div>
		if (day.ASIPortal.HasWork())
		{
			@RenderProject(day.ASIPortal, "ASI Portal")
		}
		if (day.TSNPortal.HasWork())
		{
			@RenderProject(day.TSNPortal, "TSN Portal")
		}
	}
</body>
</html>

@helper RenderProject(WorkProject project, string projectName)
{
	<div>
		<i>@projectName</i> =>
		@Html.Raw(project.GetMyShit())
	</div>
}
